*,
*:before,
*:after {
	box-sizing: border-box;
}
html,
body {
	color: #333;
    height: 100%;
    width: 100%;
}

#restaurar {
    font-family:Arial, Helvetica, sans-serif;
    background: rgba(0, 56, 121, 0.596);
    color: #ffffff;
    cursor: pointer;
    font-size: 3em;
    padding: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    position: relative;
    width: 7em;

}   

.dcha {
    font-family:Arial, Helvetica, sans-serif;
    background: rgba(0, 56, 121, 0.596);
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    padding: 1.5rem;
    padding-top: 1rem;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
    font-size: 3em;
} 

h2{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1em;
}

#izda {
    font-family: Hack, monospace;
    background: rgba(0, 56, 121, 0.596);
    font-weight: normal;
    color: #ffffff;
    font-size: 1em;
    padding: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
} 

#centro {
    font-family: Hack, monospace;
    font-weight: normal;
    color: #ffffff;
    font-size: 1em;
    padding: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
    justify-content: center; 
    align-items: center;
} 

#speedometer {
    position: absolute;
    bottom: 1.5rem;
    left: -3rem;
}

/* DEL LEADERBOARD */
.container {
    font: 16px/1.2 "Roboto", sans-serif;
	width: 300px;
	height: auto;
	border-radius: 10px;
	background-color: #181c26;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	overflow: hidden;
}

/* leaderboard */
.leaderboard {
	background: linear-gradient(to bottom, #3a404d, #181c26);
    margin-left: -25px;
}

/* head */
.leaderboard .head {
	padding: 20px 16px;
	color: snow;
	font-size: 20px;
	text-align: center;
    margin-left: 5%;
}
.leaderboard .head h1 {
	display: inline-block;
	margin-left: 4px;
}

/* body */
.leaderboard .body {
	color: snow;
	font-size: 16px;
}
.leaderboard ol {
	counter-reset: number; 
}
.leaderboard li {
	padding: 16px;
	display: flex;
}
.leaderboard li mark {
	flex-grow: 1;
	color: snow;
	background-color: transparent;
}
.leaderboard li:before {
	counter-increment: number; 
	content: counter(number) "."; 
	margin-right: 4px;
}
.leaderboard li:nth-child(1) {
	background: #fa6855;
}
.leaderboard li:nth-child(2) {
	background: #e0574f;
}
.leaderboard li:nth-child(3) {
	background: #d7514d;
}
.leaderboard li:nth-child(4) {
	background: #cd4b4b;
}